/*GENEREAL CSS*/
* {
	margin: 0;
	padding: 0;
}
h1 {
    font-family: "Helvetica Neue", Helvetica,Arial,serif;
    font-weight: 100;
    font-size: 65px;
    color: #fff;
}
.h1bold {
    font-family: "Helvetica Neue", Helvetica,Arial,serif;
    font-weight: 800;
}
h2 {
	font-family: "Helvetica Neue", Helvetica,Arial,serif;
	font-weight: 300;
  font-size: 30px;
  -webkit-transition:color .5s;
  -moz-transition:color .5s;
  -o-transition:color .5s;
  transition:color .5s;
	margin-bottom: 10px;
}
h3 {
  font-family: "Helvetica Neue", Helvetica,Arial,serif;
  font-weight: 300;
  font-size: 20px;
  color: #0266C8;
}
p {
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: 300;
	color: #3b3b3b;
 	line-height: 1.4;
 	margin-bottom: 10px;
}
a {
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 300;
	text-decoration: none;
	color: #000;
}
a:hover{
  color: #0266C8;
}

/*NAVIGATION*/
.button {
	background-color:#fff;
  border-radius:42px;
  -moz-border-radius:42px;
  -webkit-border-radius:42px;
  display:inline-block;
  cursor:pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#9c9c9c
  font-size:17px;
  padding:10px 25px;
  text-decoration: none;
}
.button:hover {
	background-color:#e0e0e0;
	color: #000000;
}
.button:active {
	position:relative;
	top:1px;
}

a.button span {
  display: block;
  font-family: 'Roboto', Helvetica, Arial, serif;
  text-align: right;
  height: 20px;
}

a.disabled {
	background-color:#dfdfdf;
	color: #000000;
	cursor: default;
  text-decoration: none;
}
a.disabled:hover {
	background-color:#dfdfdf;
	color: #000000;
	cursor: default;
  text-decoration: none;
}
a.disabled:active {
	background-color:#dfdfdf;
	color: #000000;
  text-decoration: none;
}
#nav{
	display: inline-block;
	padding-top: 15px;
}
/*BLOCK CLASSES*/
.horizblocks {
	position: relative;
	margin-right: 0px;
	margin-left: 0px;
	padding: 45px;
	width: 100%;
	height: 550px;
}
.textblocks {
	position: absolute;
	display: block;
	width: 400px;
	padding: 50px;
}
.textblocks p {
	margin-bottom: 5px;
	margin-top: 5px;
}
.textblocks h2 {
	text-align: center;
}
.language {
  color: #afafaf;
}
.projectPicture {
  height: 200px;
}
.row {
  margin-top: 10px;
  padding-top:10px;
}
.justifiedText {
  text-align: justify;
}

/*BLOCK IDS*/

/*TITLEBLOCK*/
#texttitle{
	left: 10%;
	width: 500px;
	position: fixed;
}
#blocktitle{
	height: 400px;
	position: relative;
	margin-right: 0px;
	margin-left: 0px;
	padding: 45px;
	width: 100%;
}
body {
  background: #673ab7;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;

}
#profile{
	height: 300px;
	width: 300px;
	position: fixed;
	right: 15%;
	border-radius: 300px;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	padding: 5px;
  background:#fff;
	transition: background .5s;
	-webkit-transition: background .5s;
}

/*ABOUT BLOCK*/
#about{
	padding-top: 100px;
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 72%, #bed4e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,#ffffff), color-stop(100%,#bed4e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 72%,#bed4e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 72%,#bed4e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 72%,#bed4e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 72%,#bed4e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bed4e5',GradientType=0 );
}
#blockaboutpicture{
	height: 450px;
	margin-left: 100px;
  margin-top: 10px;
}
#textabout{
	padding-top: 100px;
	top: -10px;
	right: 10%;
	width: 500px;
}

#textabout a{
	color: #303030;
  font-weight: 600;
}

#linkedin:hover{
  background-color: #0077b6;
	border:2px solid #2299d9;
}
#facebook:hover{
	background-color: #3b5998;
	border:2px solid #5d7bba;
}
#instagram:hover{
	background-color: #517fa4;
	border:2px solid #729fc6;
}
#pinterest:hover{
	background-color: #cb2027;
	border:2px solid #ed4249;
}
#gplus:hover{
	background-color:#dd4b39;
	border:2px solid #ff6d5b;
}
#twitter:hover{
  	background-color:#00aced;
	border:2px solid #22ceff;
}
#hkn:hover{
	background-color: #f7e26b;
	border:2px solid #c5c049;
}
#github:hover{
	background-color: #4183c4;
	border:2px solid #62a5e6;
}
#email:hover{
	background-color:#cf2a1c;
	border:2px solid #ef4c3e;
}
.aboutmelink:hover{
	position: relative;
	top: 2px;
}
.aboutmelink {
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	border: 2px solid #afafaf;
	height:39px;
	width:39px;
	text-align:center;
	display: inline-block;
  padding: 8px;
}
#infoOnLinks{
  	padding: 20px;
  	font-weight: 300;
  	text-align: center;
  	margin-left: 60px;
  	margin-right: 60px;
  	opacity: 0;
}
.abouth4{
	display:inline-block;
}

/*FOR THE PROJECT PAGE*/
#projects{
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 72%, #bed4e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,#ffffff), color-stop(100%,#bed4e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 72%,#bed4e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 72%,#bed4e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 72%,#bed4e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 72%,#bed4e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bed4e5',GradientType=0 );
	height: auto;
	padding-left: auto;
	padding-right: auto;
}
#textproject{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: static;
}
.proj {
  margin-bottom: 0px;
  text-align: left;
}
.projectCircle {
  padding: 15px !important;
}
.noA:hover{
  text-decoration: none;
}
.noA:active{
  text-decoration: none;
}

footer {
	background: transparent url('../images/hr.png') 50% 0 no-repeat;
	font-family: "Helvetica Neue",Helvetica,Arial,serif;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	color: #aaa;
	border: 0;
	font-size: 100%;
	vertical-align: sub;
	text-align: center;
  position: absolute;
  bottom: 10;
  width: 94%;
}
footer a {
  color: #aaa;
  font-family: "Helvetica Neue",Helvetica,Arial,serif;
  font-weight: 300;
  text-decoration: none;
}
footer a:hover {
  color: #888;
  text-decoration: none;
}
