<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <p>Want me to write about something specific? Reach out!</p>
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><a href="{{ site.url }}">{{ site.url }}</a></li>
            <li><a href="https://www.buymeacoffee.com/andrewfang">Buy me a drink🍹</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
