/*GENEREAL CSS*/
* {
	margin: 0;
	padding: 0;
}
h1 {
    font-family: "Belgrano", Helvetica,Arial,serif;
    font-weight: bold;
    font-size: 65px;
    color: #353535;
}
h2 {
	font-family: "Oxygen", Helvetica,Arial,serif;
    font-weight: bold;
    font-size: 30px;
    -webkit-transition:color .5s;  
   	-moz-transition:color .5s;  
   	-o-transition:color .5s;  
   	transition:color .5s;  
	margin-bottom: 10px;
}
h3 {
	font-family: "Oxygen", Helvetica,Arial,serif;
    font-weight: bolder;
    font-size: 20px;
    color: #d5000d;
}
p {
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: 300;
	color: #3b3b3b;
 	line-height: 1.4;
 	margin-bottom: 10px;
}
a {
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	text-decoration: none;
	color: #5C5C62;
}
a:hover{
	color: #0099FF;
}
a:active{
	color: #6699FF;
}

/*NAVIGATION*/
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:14px;
	-moz-border-radius-topleft:14px;
	border-top-left-radius:14px;
	-webkit-border-top-right-radius:14px;
	-moz-border-radius-topright:14px;
	border-top-right-radius:14px;
	-webkit-border-bottom-right-radius:14px;
	-moz-border-radius-bottomright:14px;
	border-bottom-right-radius:14px;
	-webkit-border-bottom-left-radius:14px;
	-moz-border-radius-bottomleft:14px;
	border-bottom-left-radius:14px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:38px;
	line-height:38px;
	width:85px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
	color: #000000;
}
.button:active {
	position:relative;
	top:2px;
}

a.button span {
  display: block;
  text-align: center;
  height: 15px;
}

a.disabled {
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	color: #000000;
	cursor: default;
}
a.disabled:hover {
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	color: #000000;
	cursor: default;
}
a.disabled:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	color: #000000;
	position:relative;
	top:0px;
}
#nav{
	display: inline-block;
	padding-top: 15px;
}
/*BLOCK CLASSES*/
.horizblocks {
	position: relative;
	margin-right: 0px;
	margin-left: 0px;
	padding: 45px;
	width: 94%;
	height: 550px;
}
.textblocks {
	position: absolute;
	display: block;
	width: 400px;
	padding: 80px;
	text-align: center;
}
.textblocks p,h4 {
	text-align: justify;
	margin-bottom: 5px;
}

/*BLOCK IDS*/

/*TITLEBLOCK*/
#texttitle{
	left: 6%;
	width: 500px;
	position: fixed;
}
#blocktitle{
	height: 300px;
	position: relative;
	margin-right: 0px;
	margin-left: 0px;
	padding: 45px;
	width: 94%;
}
#profile{
	height: 300px;
	width: 300px;
	position: fixed;
	right: 200px;
	border-radius: 300px;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	padding: 7px;
	transition: background .5s;
	-webkit-transition: background .5s;
}

/*ABOUT BLOCK*/
#about{
	padding-top: 100px;
	background: #afafaf; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 72%, #bed4e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,#ffffff), color-stop(100%,#bed4e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 72%,#bed4e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 72%,#bed4e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 72%,#bed4e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 72%,#bed4e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bed4e5',GradientType=0 );
}
#blockaboutpicture{
	height: 300px;
	margin-left: 100px;
    margin-top: -20px;
}
#textabout{
	padding-top: 100px;
	top: -10px;
	right: 150px;
	width: 500px;
}

#textabout a{
	color: #303030;
	font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif; font-weight: 600;

}
#linkedin:hover{
  	background-color: #0073b2;
	border:2px solid #2295d4;
}
#facebook:hover{
	background-color: #465fa1;
	border:2px solid #243d80;
}
#gplus:hover{
	background-color:#b43021;
	border:2px solid #d83526;
}
#twitter:hover{
  	background-color:#00acee;
	border:2px solid #22ceff;
}
#hkn:hover{
	background-color: #f7e26b;
	border:2px solid #c5c049;
}
#github:hover{
	background-color: #657e8c;
	border:2px solid #435c6a;
}
#schedule:hover{
	background-color: #fdb000;
	border:2px solid #db9000;
}
#email:hover{
	background-color:#cf2a1c;
	border:2px solid #ef4c3e;
}
.aboutmelink:hover{
	position: relative;
	top: 2px;
}
.aboutmelink {
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	border: 2px solid #afafaf;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:39px;
	line-height:39px;
	width:39px;
	text-decoration:none;
	text-align:center;
	display: inline-block;
}
#infoOnLinks{
  	padding: 20px;
  	font-weight: 300;
  	text-align: center;
  	margin-left: 60px;
  	margin-right: 60px;
  	opacity: 0;
}
.abouth4{
	display:inline-block;
}

/*FOR THE PROJECT PAGE*/
#projects{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 72%, #deadbe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,#ffffff), color-stop(100%,#deadbe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 72%,#deadbe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 72%,#deadbe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 72%,#deadbe 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 72%,#deadbe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#deadbe',GradientType=0 );
	height: auto;
	padding-left: auto;
	padding-right: auto;
}
#textproject{
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: static;
}

.proj {
  margin-bottom: 0px;
  text-align: left;
}
.projectContainer {
    width: 100%;
    height: 175px;
    margin-bottom: 20px;
    position: relative;
}
.projectContent {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}	
.projectBackground{
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  z-index: 1;
  opacity: 0;
}
#bopBackground{
  background-image: url("../images/Bop.png");
  background-size: 150px 150px;
}
#battleshipBackground{
  background-image: url("../images/battleship.png");
  background-size: 150px 131px;
}
#drawItBackground{
  background-image: url("../images/drawit.png");
  background-size: 222px 150px;
}
#magic8Background{
  background-image: url("../images/magic8.png");
  background-size: 150px 150px;
}
#websiteBackground{
  background-image: url("../images/website.png");
}
#greyMeBackground{
  background-image: url("../images/greyMeOut.png");
  background-size: 150px 150px;
}
#clapcamBackground{
  background-image: url("../images/ClapCam.png");
  background-size: 150px 150px;
}
#angusBackground{
  background-image: url("../images/angus.png");
}
#clockBackground{
  background-image: url("../images/clock.png");
}
#dospssBackground{
  background-image: url("../images/dospss.png");
}
.demo a{
  text-align: left;
  float: left;
  padding-right: 10px;
}
.demo a:hover{
  color: #953333;
}
.sourcecode a:hover{
  color: #953333;
}
.language {
  margin-bottom: 0px;
}



footer {
	background: transparent url('../images/hr.png') 50% 0 no-repeat;
	font-family: "Quattrocento Sans", "Lucinda Grande",Helvetica,Arial,serif;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	color: #aaa;
	border: 0;
	font-size: 100%;
	vertical-align: sub;
	text-align: center;
    position: absolute;
    bottom: 10;
    width: 100%;
}
footer a {
  color: #aaa;
  text-decoration: none;
}
footer a:hover {
  color: #888;
}
