/*TITLEBLOCK*/
#texttitle{
	position: relative;
	width: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
}
#blocktitle{
	height: 500px;
	position: relative;
	padding: 45px;
	width: 94%;
	text-align: center;
}
#profile{
	height: 40%;
	width: auto;
	position: static;
	display: inline-block;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	right: 0px;
}
.horizblocks {
	position: relative;
	margin-right: 0px;
	margin-left: 0px;
	padding: 45px;
	width: 94%;
	height: 550px;
}
.textblocks {
	position: absolute;
	display: block;
	width: 400px;
	padding: 80px;
	text-align: center;
}
#blockaboutpicture{
	opacity: 0;
}
#about{
	text-align: center;
}
#textabout{
	display: inline-block;
	padding-top: 100px;
	width: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
