/*TITLEBLOCK*/
#texttitle{
	position: relative;
	width: 500px;
	text-align: center;
}
#blocktitle{
	height: 500px;
	position: relative;
	margin-right: 0px;
	margin-left: 0px;
	padding: 45px;
	width: 94%;
	position: relative;
}
#profile{
	height: 200px;
	width: 200px;
	position: fixed;
	right: 230px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	padding: 5px;
}
.horizblocks {
	position: relative;
	margin-right: 0px;
	margin-left: 0px;
	padding: 45px;
	width: 94%;
	height: 550px;
	border: 1px solid red;
}
.textblocks {
	position: absolute;
	display: block;
	width: 400px;
	padding: 80px;
	text-align: center;
	border: 1px solid red;
}